## Analyzing and Visualizing Census Rent Data

See the data and map in action at .

I loaded and geocoded the 2014 ACS 1-year median contract rent data in this notebook. Now, it's time to merge this data with the 2010 ACS rents and the 2010/2014 population data. The next steps are to analyze it, visualize it, map it, and then save it to GeoJSON so we can create an interactive web map using Leaflet.

In [2]:
# Install GeoPandas if not already installed
!pip install geopandas

# Import necessary libraries for data manipulation and analysis
import pandas as pd  # For data manipulation and analysis
import numpy as np  # For numerical operations

# Import statistical models library
import statsmodels.api as sm  # For statistical modeling and hypothesis testing

# Import Matplotlib for plotting and visualization
import matplotlib.font_manager as fm  # For managing fonts
import matplotlib.pyplot as plt  # For creating plots and visualizations
import matplotlib.cm as cm  # For managing colormap options in plots

# Import Basemap for geographical plotting
from mpl_toolkits.basemap import Basemap  # For creating maps and plotting geographic data

# Import GeoPandas for handling geospatial data
from geopandas import GeoDataFrame  # For creating and working with geospatial dataframes

# Import Shapely for geometric operations
from shapely.geometry import Point  # For creating point geometries

# Enable inline plotting for Jupyter notebooks
%matplotlib inline  # Ensures that plots are displayed inline within Jupyter notebooks

Requirement already satisfied: geopandas in c:\users\men_l\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\men_l\anaconda3\lib\site-packages (from geopandas) (2.0.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\men_l\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\men_l\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\men_l\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\users\men_l\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2024.6.2)
Requirement already satisfied: six>=1.5 in c:\users\men_l\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)

UsageError: unrecognized arguments: # Ensures that plots are displayed inline within Jupyter notebooks

In [ ]:
# Define the font family to use for plots
font_family = 'Myriad Pro'

# Define the font properties for the plot title
# family: the font family
# style: the font style (e.g., 'normal', 'italic')
# size: the font size
# weight: the weight of the font (e.g., 'normal', 'bold')
# stretch: the stretch of the font (e.g., 'normal', 'condensed')
title_font = fm.FontProperties(family=font_family, style='normal', size=18, weight='normal', stretch='normal')

# Define the font properties for the plot labels
label_font = fm.FontProperties(family=font_family, style='normal', size=16, weight='normal', stretch='normal')

# Define the font properties for the plot ticks
ticks_font = fm.FontProperties(family=font_family, style='normal', size=14, weight='normal', stretch='normal')

In [6]:
# Load the 2014 geolocated rent data from a CSV file
# 'data/rent_latlong.csv' should be the path to your CSV file containing the rent data
rent14 = pd.read_csv('data/rent_latlong.csv')

# Rename the column 'geo_id2' to 'geo_id_14' for clarity and consistency
rent14 = rent14.rename(columns={'geo_id2': 'geo_id_14'})

# Select relevant columns for analysis: 'geo_id_14', 'msa_name', 'city_state',
# 'median_contract_rent', 'latitude', and 'longitude'
rent14 = rent14[['geo_id_14', 'msa_name', 'city_state', 'median_contract_rent', 'latitude', 'longitude']]

# Display the first few rows of the dataframe to verify the changes
print(rent14.head())

   geo_id_14                   msa_name      city_state  median_contract_rent  \
0      10140    Aberdeen, WA Micro Area    Aberdeen, WA                   626
1      10180     Abilene, TX Metro Area     Abilene, TX                   613
2      10300      Adrian, MI Micro Area      Adrian, MI                   556
3      10420       Akron, OH Metro Area       Akron, OH                   627
4      10460  Alamogordo, NM Micro Area  Alamogordo, NM                   700

    latitude   longitude
0  46.975371 -123.815722
1  32.448736  -99.733144
2  41.897547  -84.037166
3  41.081445  -81.519005
4  32.899532 -105.960265

In [7]:

# Load the 2010 rent data from the specified CSV file into a DataFrame
rent10 = pd.read_csv('data/ACS_10_1YR_B25058_metro_micro/ACS_10_1YR_B25058.csv')

# Rename columns to more readable names
rent10 = rent10.rename(columns={
    'GEO.id': 'geo_id',               # Original geographic ID
    'GEO.id2': 'geo_id_10',           # Secondary geographic ID (likely a more specific identifier)
    'GEO.display-label': 'msa_name',  # Metropolitan Statistical Area (MSA) name
    'HD01_VD01': 'median_rent_10',    # Median rent for 2010
    'HD02_VD01': 'margin_error'       # Margin of error for the median rent estimate
})

# Select only the columns 'geo_id_10' and 'median_rent_10' for further analysis
rent10 = rent10[['geo_id_10', 'median_rent_10']]

# Display the first few rows of the DataFrame to verify the changes
print(rent10.head())

   geo_id_10  median_rent_10
0      10140             562
1      10180             554
2      10300             537
3      10420             579
4      10500             477

### Merging 2010 and 2014 ACS Rent Data

To merge the 2010 and 2014 ACS rent data effectively, follow these steps:

1. **Load the Data**: Read the 2010 and 2014 ACS rent data into pandas DataFrames.
2. **Rename Columns**: Ensure both DataFrames have consistent column names to facilitate merging.
3. **Create a Mapping Dictionary**: Map 2014 codes to 2010 codes for areas that have changed. 
   - Some areas have changed names or codes between 2010 and 2014, and for these, you will need to create a mapping dictionary.
4. **Apply the Mapping**: Use the mapping dictionary to update the 2014 codes to their corresponding 2010 codes.
5. **Select Relevant Columns**: Choose the necessary columns from both DataFrames for comparison.
6. **Merge the DataFrames**: Combine the data on the 2010 geo_id using an inner join to retain only areas with data in both years.
7. **Handle Unmatched Data**: Ignore areas that are new in 2014 or were dropped since 2010, as they cannot be compared without data from both years.

Following these steps ensures that your merged dataset is accurate and includes only comparable rent data from both years, allowing for effective analysis.

In [9]:
# Import pandas library
import pandas as pd

# Define a dictionary to map 2014 codes to 2010 codes for areas that changed
codes_14_10 = {  # Format: 2014_code:2010_code
    14010: 14060,  # Bloomington, IL
    15680: 30500,  # Lexington Park, MD
    16060: 32060,  # Marion, IL
    17200: 30100,  # Lebanon, NH
    25840: 37820,  # Pendleton
    26090: 26100,  # Holland
    29200: 29140,  # Lafayette
    38240: 43860,  # Pinehurst
    41400: 20620,  # Salem, OH
    48260: 44600,  # Weirton
    49220: 32270,  # Wisconsin Rapids
    31080: 31100,  # Los Angeles
    42200: 42060,  # Santa Barbara
    46520: 26180,  # Honolulu
    48260: 44600   # Steubenville
}

# Create a new column 'geo_id_10' in the 2014 DataFrame to hold the corresponding 2010 code
# The lambda function maps each 2014 geo_id to its corresponding 2010 geo_id using the 'codes_14_10' dictionary
# If a 2014 geo_id is not in the dictionary (i.e., the area is new or dropped), it retains the original 2014 geo_id
rent14['geo_id_10'] = rent14['geo_id_14'].map(lambda x: codes_14_10[x] if x in codes_14_10.keys() else x)

In [11]:
# Import pandas library
import pandas as pd

# Merge the 2014 and 2010 rent datasets on the 'geo_id_10' column
# 'rent14' contains the 2014 rent data with the 'geo_id_10' column mapped to 2010 codes
# 'rent10' contains the 2010 rent data
rent = pd.merge(rent14, rent10, on='geo_id_10')

# Display the first few rows of the merged DataFrame to verify the merge
rent.head()

,geo_id_14,msa_name,city_state,median_contract_rent,latitude,longitude,geo_id_10,median_rent_10
0,10140,"Aberdeen, WA Micro Area","Aberdeen, WA",626,46.975371,-123.815722,10140,562
1,10180,"Abilene, TX Metro Area","Abilene, TX",613,32.448736,-99.733144,10180,554
2,10300,"Adrian, MI Micro Area","Adrian, MI",556,41.897547,-84.037166,10300,537
3,10420,"Akron, OH Metro Area","Akron, OH",627,41.081445,-81.519005,10420,579
4,10500,"Albany, GA Metro Area","Albany, GA",480,31.578507,-84.155741,10500,477